.rhap_container {
    background-color: #424242;
    box-shadow: none;
  }

.rhap_time {
    color: #fff;
}

.rhap_main-controls-button {
    color: #26a69a;
}

.rhap_main-controls-button:focus {
    background-color: #424242;
}

.rhap_progress-indicator {
    background: #26a69a;
}

.rhap_volume-button {
    color: #26a69a;
}

.rhap_volume-button:focus {
    background-color: #424242;
}

.rhap_volume-indicator {
    background: #26a69a;
}

.rhap_volume-bar {
    background: #868686;
}